{% include 'sitio/cabezera.html' %}

<div class="row justify-content-center align-items-center g-2">
    <div class="BOX-EDUCACION col-md-6">
            <h2 class="TITLE-EDU text-center mt-3 mb-3"> <span class="mx-2"> ESCUELA </span> <span class="mx-2"> SECUNDARIA </span></h2>
            <h4 class="TXT-EDU text-center">
                Bachiller en economia y administracion <br>
                Escuela de comercio N°9 D.E 11 "Dr. Jose ingenieros"
            </h4>

            <br>
            <h4 class="TXT-EDU text-center">---------------</h4>
            <br>
            
            <h2 class="TITLE-EDU text-center mb-3"> <span class="mx-2">CURSOS</span> <span class="mx-2">DE</span> <span class="mx-2">PROGRAMACION</span> </h2>
                <div>
                    <h4 class="TXT-EDU text-center">
                        Desarrollo Web - Full Stack <br>
                        Digital Blue | 02/2022 - 12/2022
                    </h4>
                    <div class="d-flex justify-content-center mb-3">
                       <a download="Certificado Full Stack" href="img/Diploma Carrera Desarrolo Web.pdf"> <img class="CERTIFICADOS" width="230" height="130" src="img/fullstack.png" alt="certificado full satck"> </a> 
                    </div>
                </div>

                <div>
                    <h4 class="TXT-EDU text-center">
                        Argentina Programa <br>
                        20/2022 - 06/2022
                    </h4>
                    <div class="d-flex justify-content-center mb-4">
                       <a download="Certificado Argentina Programa" href="img/Diploma Arg_Prog 2022.pdf"> <img class="CERTIFICADOS" width="230" height="130" src="img/argentina programa.png" alt="argentina programa"> </a> 
                    </div>          
                </div>

    </div>

    <div class="col-md-6">

    </div>
</div>

{% include 'sitio/pie.html' %}