{% include 'sitio/cabezera.html' %}
  

<div class="row">
    <div class="TEXTO col-md-6">
      <h1 class="TXT1"> <span class="mx-2"> Hola! </span> <span class="mx-2"> me </span> <span class="mx-2"> llamo </span> </h1>
      <h1 class="TXT1"> <span class="SPN1 mx-2">Javier</span> <span class="SPN1">Caceres</span> </h1>
      <p class="TXT2"> <span class="TXT2 mx-2"> Soy </span> <span class="SPN2 mx-2"> Desarrolador </span> <span class="SPN2 mx-2"> Web </span> </p>
      
      <button class="BOTON" type="button" onclick="javascript:cambia_de_pagina();">SOBRE MI</button>
      
      <div class="mt-4 mb-5">
      <a class="ICONOS mx-2" target="_blank" href="https://www.linkedin.com/in/javier-caceres-98a438209/"> <img width="50" height="50"  src="img/linkedin.png" alt="imagen de linkedin"> </a>
      <a class="ICONOS mx-2" target="_blank" href="https://github.com/javiercaceres12"> <img width="50" height="50" src="img/github.png" alt="imagen de github"> </a>
      <a class="ICONOS mx-2" target="_blank" href="https://www.instagram.com/javiercaceress/"> <img width="50" height="50" src="img/instagram.png" alt="imagen de instagram"> </a>
      </div>
    </div>

    <div class="col-md-6">
        
    </div>

{% include  'sitio/pie.html' %}