{% include 'sitio/cabezera.html' %}

    <div class="row d-flex justify-content-center" >
        <h1 class="TITLE-SKILL text-center mt-4 mb-4">SKILLS</h1> <br><br>
        <div class="col-md-1 d-flex justify-content-center mt-3">
            <img width="70" height="70" src="logos/html-5.png" alt="logo de html">
        </div>
        <div class="col-md-1 d-flex justify-content-center mt-3">
            <img width="70" height="70" src="logos/css-3.png" alt="logo de html">
        </div>
        <div class="col-md-1 d-flex justify-content-center mt-3">
            <img width="70" height="70" src="logos/javascript.png" alt="logo de javascript">
        </div>
        <div class="col-md-1 d-flex justify-content-center mt-3">
            <img width="70" height="70" src="logos/logotipo-de-wordpress.png" alt="logo de wordpress">
        </div>
        <div class="col-md-1 d-flex justify-content-center mt-3">
            <img width="70" height="70" src="logos/python.png" alt="logo de python">
        </div>
        <div class="col-md-1 d-flex justify-content-center mt-3">
            <img width="70" height="70" src="logos/bootstrap.png" alt="logo de bootstrap">
        </div>
        <div class="col-md-1 d-flex justify-content-center mt-3">
            <img width="70" height="70" src="logos/images.png " alt="logo de flask">
        </div>
        <div class="col-md-1 d-flex justify-content-center mt-3">
            <img width="70" height="70" src="logos/mysql.png" alt="logo de mysql">
        </div>

    </div>
    
    <div class="row d-flex justify-content-center">

        <h1 class="TITLE-SKILL text-center mt-5 mb-4">PROYECTOS</h1> <br> <br>
        <div class="col-md-6 PROYECTOS d-flex justify-content-center mt-3">
            <img class="PROYECTO" width="350" height="210" src="img/Alternativa.C bootstrap.png" alt="imagen de alternativa contable">
        </div>

        <div class="col-md-6 PROYECTOS d-flex justify-content-center mt-3">
            <img class="PROYECTO" width="350" height="210" src="img/php.png" alt="viajemoshoy">
        </div>

       
        
    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-md-6 PROYECTOS d-flex justify-content-center mt-3">
            <img class="PROYECTO" width="350" height="210" src="img/python.png" alt="imagen de libreria">
        </div>

        <div class="col-md-6 PROYECTOS d-flex justify-content-center mt-3 mb-4">
            <img class="PROYECTO" width="350" height="210" src="img/puntuales.png" alt="registrar datos en mysql">
        </div>
        
    </div>

{% include 'sitio/pie.html' %}