{% include 'sitio/cabezera.html' %}

<div class="row d-flex justify-content-center align-items-center g-2">
    <div class="col-md-6">
        <div class="d-flex justify-content-center">
            <img class="FOTO" src="img/Javier Caceres.jpeg" alt="Javier caceres">
        </div>
        <h4 class="SOBRE-MI text-center mt-3 mb-3" style="color: white;">
            Mi nombre es Javier Caceres, tengo 21 años,
            nacido y criado en Argentina, Buenos Aires. Me desempeño como desarrollador front end,
            cuento con la experiencia en desarrollo y programación de sitios web, utilizando tecnologías como: HTML, Bootstrap | CSS | JavaScript | Node | MySQL | Python entre otros, la he conseguido gracias a mi pasión, dedicación y también siempre tratando de aprender y progresar en Sistemas.
            Por otra parte, sigo creciendo y sigo en constante actualización referidos a sistemas web.
            Me encantaría tener la oportunidad de seguir desarrollando mis habilidades en un ambiente laboral.
        </h4>
    </div>

    <div class="col-md-6"></div>
</div>

{% include 'sitio/pie.html' %}